doctype html
html(lang='ru')
   head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(href='style.css' rel='styleSheet')
      script(src='script.js')
   body
      mixin icon(name)
         svg(class=name)
            use(xlink:href='#' + name)
      include 4_svg/svgSprite.html
      div Hello!